.bucket  {
    color: rgb(60, 0, 255);
    padding: 0px 0px;
    width: 450px;
    height: auto;
    margin: 5px auto;
    border: 5px solid black;
    background-color: gray;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.cancun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: gray;
    padding: 20px;
    border: 5px solid black;
    
}

p {
    width: 800px;
    background-color: black;
    border: 1px solid white;
    margin: 0px auto;
    text-align: center;
    color: white;
    
}
body {
    background-color: brown;
}

.done {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: gray;
    padding: 20px;
    border: 5px solid black;
    
}

.place {
    width: 550px;
    background-color: black;
    border: 1px solid white;
    margin: 0px auto;
    text-align: center;
    color: white;
}