.head {
    font-family: 'Times New Roman', Times, serif;
}

.header {
    color: rgb(76, 0, 0);
    padding: 0px 0px;
    width: 48.5vw;
    height: auto;
    margin: 5px auto;
    border: 5px solid black;
    background-color: gray;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.number-one {
    position: absolute;
    color: black;
    background-color: rgb(90, 0, 0);
    outline: 5px dashed black;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    top: 1407px;
    left: 282px;
}

.number-two {
    position: absolute;
    color: black;
    background-color: rgb(90, 0, 0);
    outline: 5px dashed black;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    top: 746px;
    left: 271px;
}

.number-three {
    position: absolute;
    color: black;
    background-color: rgb(90, 0, 0);
    outline: 5px dashed black;
    font-size: 100px;
    font-family: 'Oswald', sans-serif;
    top: 113px;
    left: 271px;
}

#mexico {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47vw;
    background-color: rgb(90, 0, 0);
    padding: 20px;
    border: 5px solid black;

}

.cancun-text {
    width: 50vw;
    background-color: black;
    border: 1px solid white;
    margin: 0px auto;
    text-align: center;
    color: white;

}

.text {
    width: 50vw;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    border: 1px solid white;
    margin: 25px auto;
    text-align: center;
    color: white;
}

.city {
    width: 50vw;
    background-color: black;
    border: 1px solid white;
    margin: 0px auto;
    text-align: center;
    color: white;


}

body {
    background-color: brown;
}

.London-City {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47vw;
    background-color: rgb(90, 0, 0);
    padding: 20px;
    border: 5px solid black;

}

.place {
    width: 50vw;
    background-color: black;
    border: 1px solid white;
    margin: 0px auto;
    text-align: center;
    color: white;
}

.dubai {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 47vw;
    background-color: rgb(90, 0, 0);
    padding: 20px;
    border: 5px solid black;
}